body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: aqua;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.content {
  min-height: calc(100vh - 53px - 64px);
  padding: 20px 0;
  position: relative;
}
.preloader-wrapper {
  position: absolute;
  top: 38%;
  left: 43%;
  margin: auto;
}
.preloader-wrapper.big {
  width: 180px;
  height: 180px;
}
.circle-clipper .circle {
  border-width: 7px;
}
nav {
  padding: 0px 30px;
}
footer {
  padding: 15px 0px;
}

.goods {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}
.search-btn {
  position: absolute;
  top: 20%;
  right: 0;
}
.row {
  position: relative;
}
.item {
  max-width: 300px;
}
.card-content {
  padding: 10px;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.title {
  display: block;
  padding: 10px 10px 10px 24px;
  color: wheat;
  font-size: 20px;
}
.card-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn {
  text-transform: capitalize;
}
.subtitle {
  padding: 0px 24px;
}
.cart {
  cursor: pointer;
  position: fixed;
  z-index: 10;
  padding: 10px;
  border-radius: 5px;
  bottom: 60px;
  right: 100px;
}
@media (min-width: 767px) {
  .cart {
    top: 100px;
    bottom: unset;
  }
}
